.Header-container {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
  top: 0;
  border-bottom: solid 1px;
  padding: 10px;
  margin: 5px;
  background-color: grey;
  color: aliceblue;
  box-sizing: border-box;
}

.Header-container h1 {
  font-family: monospace;
  font-size: 2rem;
  /*margin-inline: auto;*/
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation:
    typing 3s steps(22) forwards,
    blink 1s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
